<launch>
    <include file="$(find joystick_controller)/launch/vrpn_drone.launch" />

    <node pkg="rosserial_python" name="joystick_controller_teensy" type="serial_node.py" args="/dev/ttyACM0" />
    
    <node pkg="pid" name="joystick_pid" type="controller" output="screen" ns="throttle">
      <param name="Kp" value="-0.4"/>
      <param name="Ki" value="0.0" />
      <param name="Kd" value="-0.2" />
      <param name="upper_limit" value="1" />
      <param name="lower_limit" value="-1" />
      <param name="windup_limit" value="1" />
    </node>

    <node pkg="pid" name="joystick_pid" type="controller" output="screen" ns="yaw">
      <param name="Kp" value="-0.27"/>
      <param name="Ki" value="0.0" />
      <param name="Kd" value="0.0" />
      <param name="upper_limit" value="0.4" />
      <param name="lower_limit" value="-0.4" />
      <param name="windup_limit" value="1" />
    </node>

    <node pkg="pid" name="joystick_pid" type="controller" output="screen" ns="roll">
      <param name="Kp" value="-0.1"/>
      <param name="Ki" value="0.0" />
      <param name="Kd" value="-0.1" />
      <param name="upper_limit" value="0.7" />
      <param name="lower_limit" value="-0.7" />
      <param name="windup_limit" value="0.7" />
    </node>

    <node pkg="pid" name="joystick_pid" type="controller" output="screen" ns="pitch">
      <param name="Kp" value="-0.1"/>
      <param name="Ki" value="0.0" />
      <param name="Kd" value="-0.1" />
      <param name="upper_limit" value="0.7" />
      <param name="lower_limit" value="-0.7" />
      <param name="windup_limit" value="0.7" />
    </node>

    <node pkg="joystick_controller" name="hovering_pid" type="hovering_pid.py" output="screen" />

    <node pkg="rqt_plot" name="throttle_plot" type="rqt_plot" args="/throttle/control_effort /throttle/state /throttle/setpoint" />
    <node pkg="rqt_plot" name="yaw_plot" type="rqt_plot" args="/yaw/control_effort /yaw/state /yaw/setpoint" />
    <node pkg="rqt_plot" name="roll_plot" type="rqt_plot" args="/roll/control_effort /roll/state /roll/setpoint" />
    <node pkg="rqt_plot" name="pitch_plot" type="rqt_plot" args="/pitch/control_effort /pitch/state /pitch/setpoint" />

</launch>
